.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    text-align: center;
  }
  .result_section{
    background-color: var(--bg);
    color: var(--black-bg);
  }