.main-quiz{
    margin-top: 2rem;
    
  }
  .categories,
  .rules {
    text-align: center;
  }

  .card__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    width: 19rem;
    margin: 1rem;
    overflow: hidden;
    height: max-content;
    outline: none;
    border-radius: 2rem;
    border: 2px solid var(--bg-code);
    box-shadow: 0 0 12px 2px var(--primaryy-color);
  }
  .card__img{
    width: 19rem;
    height: 13rem;
  }
  .card__desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2px;
    margin-right: 1.6rem;
    flex-wrap: wrap;
  }
  .desc {
    font-size: 1.1rem;
    padding: 0 8px;
    margin-bottom: 6px;
  }
  .desc__span {
    font-size: 1.2rem;
    padding: 4px 10px;
  }
  .text {
    margin-left: auto;
    color: var(--bg-code);
    background: var(--primaryy-color);
    border: none;
    padding: 10px 14px;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0.8;
  }
  .text:hover {
    opacity: 1;
  }
  .text__quiz{
    color: var(--bg-code);
    background: var(--rules);
    border: none;
    padding: 10px 14px;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0.8;
  }