.quiz__sections{
  height: 100vh;
  background-color: var(--bg);
  color: var(--black-bg);
}

.quiz__page {
  margin-top: 4rem;
}

.quiz__name {
  text-align: left;
  color: var(--card-color);
  font-size: 1.7rem;
  padding-top: 2rem;
  margin-left: 4rem;
  font-style: italic;
}
.question__flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.8;
}

.question__bold {
  font-size: 1.9rem;
  color: var(--black-bg);
}

.question__num{
  font-weight: bolder;
  font-size: 1.8rem;
}

h4 {
  padding: 8px 10px;
  font-size: 1.68rem;
  color: var(--footers-color);
}
