header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--primary-color);
    padding: 1rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 2px var(--black-bg);
  }
  
  header .logo {
    font-size: 1.65rem;
    background: -webkit-linear-gradient(var(--blue-color), var(--bg-code));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: 900;
  }
  
  header .navbar a {
    font-size: 1.15rem;
    color: var(--bg-code);
    margin: 0 1rem;
  }
  
  header .navbar a:hover {
    color: var(--black-bg);
  }
  
  header .class-form {
    display: flex;
    align-items: center;
    width: 28rem;
    border-radius: 5rem;
    height: 2.4rem;
    border: 2px solid var(--bg-code);
    background: var(--bg-code);
    overflow: hidden;
  }
  header form .search-input {
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.1rem;
    color: var(--primary-color);
    padding: 0 2rem;
    text-transform: none;
  }
  header form .search-label {
    font-size: 1.2rem;
    padding-right: 2rem;
    color: var(--black-bg);
    cursor: pointer;
  }
  
  header form label:hover {
    color: var(--black-bg);
  }
  
  header .font-icons a {
    font-size: 1.45rem;
    color: var(--bg-code);
    margin-left: 2rem;
  }
  
  header .font-icons a:hover {
    color: var(--black-bg);
  }
  .logo-header {
    display: flex;
    align-items: center;
  }
  .logo-design {
    width: 2.2rem;
  }
  
  .menu-bar {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--black-bg);
    color: var(--bg-code);
    border-radius: 0.3rem;
    cursor: pointer;
    display: none;
  }
  
  .social-quizicons {
    font-size: 1.1rem;
    padding: 4px;
    color: var(--secondary-color);
    cursor: pointer;
  }  
